<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Preço" type="number" placeholder="Insira o preço" [(ngModel)]="preco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Descrição" placeholder="Insira a descrição" [(ngModel)]="descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Gênero" placeholder="Selecione" [(ngModel)]="genero">
        <ion-select-option value="Limpeza">Limpeza</ion-select-option>
        <ion-select-option value="Frios">Frios</ion-select-option>
        <ion-select-option value="Higiene">Higiene</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button size="default" color="success" shape="round">
        <input type="file" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>

    <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </ion-list>
</ion-content>
